@import './../../public/common.scss';

$selectedOutline:  #ffd951;

.button {
  border: 0px;
  outline: none;
  color: white;
  box-shadow: 3px 4px 3px #c6bcd3;
  
  &.circle {
    width: 40px;
    height: 40px;
    padding: 4px 10px;
    border-radius: 35px;
    font-size: 22px;
    line-height: 1.33;
  }

  &.save {
    background-color: #98ddca;
  }
  &.delete {
    background-color: $selectedText;  
  }
  &.add {
    background-color: #6bc6e2;
  }

  &:focus {
    outline: none;
  }
}

.btn-danger {
  background-color: $selectedText;
  border-color: $selectedText;
}
.btn-primary {
  background-color: $noteColor;
  border-color: $noteColor;
}

.bar-container {
  display: flex;
  align-items: center;

  .bar-elem {
    margin: 2px;
    flex-grow: 1;

    input {
      color: coral;
      border-radius: 15px;
      padding-left: 15px;
      padding-right: 15px;
      border: 2px solid #ffa800;
      width: 100%;
      height: 35px;
      font-size: 20px;
      font-family: monospace;
    }
      
    input:focus {
      padding-left: 15px;
      padding-right: 15px;
      outline: none;
    }

    
  }

  .full {
    flex-basis: 100%;
  }
}

.item-list-table {
  padding: 0px 10px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 6px;

  .note-item {
    color: $noteColor;
    vertical-align: center;
    height: 50px;
    overflow-wrap: anywhere;
    font-family: monospace;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    // outline: 2px solid $selectedOutline;
    // outline-offset: -2px;

    :first-child {
      width: 1px;
    }

    &.touched {
      border-radius: 10px;
      background-color: rgb(255 190 44 / 83%);
    }

    &.selected {
      color: $selectedText;
      background-color: $selectedBackground;
      // outline: 2px solid $selectedOutline;
      // outline-offset: -2px;

      .item-first-col {
        background-color: $noteColor;
      }
    }

    .bullet-point {
      margin: 0px;
      font-size: 18px;
    }
    .item-first-col {
      background-color: $noteColor;
      padding-left: 12px;
    }
    
    .item-description-col {
      padding: 2px 5px;

    }

    .item-description {
      display: contents;
      height: 25px;
    }
  }
}