  
  body {
    background-color: rgba(235, 232, 62, 0.658);
  }

  .btn-circle.btn-xl {
    width: 40px;
    height: 40px;
    padding: 4px 10px;
    border-radius: 35px;
    font-size: 22px;
    line-height: 1.33;
}

.note-item {
  color: #28a745;
  cursor: pointer;
}

.note-item.strikethrough {
  text-decoration: line-through
}