  
  body {
    background-color: #FFDD99;
    padding-top: 10px;
  }

  @media screen
  and (max-device-width: 800px) {
    .bar-container {
      position:fixed;
      bottom: 10px;
    }

    .item-list-container {
      height: 82vh;
      overflow: scroll;
    }
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
